.todo-item{
    display: flex;
    padding: 12px 0;

    /*교차축 중앙정렬*/
    align-items: center;
}
.todo-item .check-circle{
    width: 32px;
    height: 32px;
    /*원 만들기*/
    border-radius: 50%;
    font-size: 24px;
    border: 1px solid #9da1a7;

    /*텍스트 정중앙 배치*/
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 20px;
    cursor: pointer;

}

.todo-item .text{
    font-size: 21px;
    color: #495057;
    
    /* 혼자 비중 다 차지하고 ,나머지 없는것들은 최소한의 영역만 존재*/
    flex: 1; 
}
.todo-item .remove{
    font-size: 28px;
    color: #ccc;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    

    /* 휴지통 숨기기*/
    display: none;
}

/*휴지통 보이기*/
.todo-item:hover .remove{
    display: block;
}

/* 휴지통 색상 변경*/
.todo-item .remove:hover{
    color: #f51b4f;
}